<svg
  width='137px'
  height='23px'
  viewBox='0 0 137 23'
  version='1.1'
  xmlns='http://www.w3.org/2000/svg'
  class:list={Astro.props.class}
  xmlns:xlink='http://www.w3.org/1999/xlink'
>
  <title>LOGO FOCCUS</title>
  <g
    id='Symbols'
    stroke='none'
    stroke-width='1'
    fill='none'
    fill-rule='evenodd'
  >
    <g
      id='Header/Foccus'
      transform='translate(-30.000000, -30.000000)'
      fill='currentColor'
    >
      <g id='Combined-Shape' transform='translate(30.000000, 30.000000)'>
        <path
          d='M99.7199577,1 L99.7199577,13.2221967 C99.7199577,16.4912464 101.851249,18.2636724 104.500457,18.2636724 C107.148522,18.2636724 109.280956,16.4912464 109.280956,13.2221967 L109.280956,1 L114,1 L114,13.3746561 C114,19.2721967 109.769401,23 104.500457,23 C99.2328836,23 95,19.2721967 95,13.3746561 L95,1 L99.7199577,1 Z M126.490067,0.0869121212 C133.169618,0.0869121212 136.074112,4.57679091 136.074112,4.57679091 L132.422876,7.24804343 C132.422876,7.24804343 132.41753,7.2407048 132.406768,7.22682091 L132.358164,7.16632679 C132.000703,6.73433926 130.14963,4.73639697 126.490067,4.73639697 C123.675685,4.73639697 122.212989,5.69078081 122.212989,6.99132626 C122.212989,8.10624545 123.377034,8.87593232 125.293663,9.03019495 L128.887146,9.33988182 C133.558382,9.74249798 136.974112,11.4814374 136.974112,15.8158919 C136.974112,20.1505788 133.259506,23.0000232 127.419506,23.0000232 C120.050742,23.0000232 117.056584,18.4172152 117.056584,18.4172152 L120.811416,15.7111141 C120.811416,15.7111141 123.136809,18.3503061 127.448494,18.3503061 C130.355236,18.3503061 132.327371,17.5504172 132.327371,16.0642455 C132.327371,14.6394071 130.683101,14.2681545 128.887146,14.1127303 L125.293663,13.8039727 C120.771191,13.4015889 117.655685,11.2644475 117.655685,7.11538687 C117.655685,2.93519495 121.249393,0.0869121212 126.490067,0.0869121212 Z M57.2844927,0.000537874539 L57.5730758,0.00714911872 C61.2774047,0.139988949 64.4961321,2.11250867 66.4326355,5.03965417 L66.4326355,5.03965417 L62.5993577,7.66773496 C61.4624282,5.89459171 59.5406813,4.69179592 57.3194915,4.61195194 C53.6757777,4.48121327 50.6189175,7.41256108 50.4917848,11.1596248 C50.364425,14.9066886 53.2151487,18.0502533 56.8586355,18.1809919 C60.1520534,18.2993571 62.8116239,15.9075398 63.4161853,12.6813296 L63.4161853,12.6813296 L68,13.7564217 C66.9475229,19.1848782 62.3469085,23.192252 56.7925719,22.9928755 C50.6202796,22.7710867 45.7912804,17.4460538 46.0069519,11.0986913 C46.2223964,4.75132871 51.4007835,-0.214639701 57.5730758,0.00714911872 Z M81.2844927,0.000537874539 L81.5730758,0.00714911872 C85.2774047,0.139988949 88.4961321,2.11250867 90.4326355,5.03965417 L90.4326355,5.03965417 L86.5993577,7.66773496 C85.4624282,5.89459171 83.5406813,4.69179592 81.3194915,4.61195194 C77.6757777,4.48121327 74.6189175,7.41256108 74.4917848,11.1596248 C74.364425,14.9066886 77.2151487,18.0502533 80.8586355,18.1809919 C84.1520534,18.2993571 86.8116239,15.9075398 87.4161853,12.6813296 L87.4161853,12.6813296 L92,13.7564217 C90.9475229,19.1848782 86.3469085,23.192252 80.7925719,22.9928755 C74.6202796,22.7710867 69.7912804,17.4460538 70.0069519,11.0986913 C70.2223964,4.75132871 75.4007835,-0.214639701 81.5730758,0.00714911872 Z M31.9555333,0.0792919192 C38.0010889,0.0792919192 42.9017556,5.20294848 42.9017556,11.523302 C42.9017556,17.8436556 38.0010889,22.9670798 31.9555333,22.9670798 C25.9102,22.9670798 21.0093111,17.8436556 21.0093111,11.523302 C21.0093111,5.20294848 25.9102,0.0792919192 31.9555333,0.0792919192 Z M17.8389,1.00886915 L17.8389,5.62350745 L4.76766923,5.62350745 L4.76766923,9.13676277 L17.5310538,9.13676277 L17.5310538,13.7221351 L4.76766923,13.7221351 L4.76766923,21.8509223 L-2.30769212e-05,21.8509223 L-2.30769212e-05,1.00886915 L17.8389,1.00886915 Z M31.8604222,4.6681404 C28.2915333,4.6681404 25.3986444,7.69275657 25.3986444,11.4236354 C25.3986444,15.1547465 28.2915333,18.1791303 31.8604222,18.1791303 C35.4290889,18.1791303 38.3222,15.1547465 38.3222,11.4236354 C38.3222,7.69275657 35.4290889,4.6681404 31.8604222,4.6681404 Z'
        >
        </path>
      </g>
    </g>
  </g>
</svg>
