---

---

<h2 class='text-3xl font-bold'>Sobre mí</h2>

<article
  class='flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row'
>
  <div
    class='order-2 text-pretty md:order-1 [&>p>strong]:font-normal [&>p>strong]:text-primary dark:[&>p>strong]:text-accent [&>p]:mb-4'
  >
    <p>
      Con 12 años, mi padre trajo a casa un ordenador que ya no podía usar en su
      trabajo. Me dijeron que si lo rompía me quedaba sin él. Unos días después,
      obviamente, estaba "roto". Conseguí arreglarlo y romperlo una y otra vez.
      Ahí germinó la semilla de <strong>mi relación con el mundo digital</strong
      >.
    </p>

    <p>
      Diseñador gráfico de formación, desarrollador de vocación. Creo que mi
      mayor fortaleza está justo en esa intersección, entendiendo la importancia
      del diseño y traduciéndolo a una experiencia de usuario óptima.
    </p>

    <p>
      En los últimos años me he orientado a <strong
        >proyectos accesibles, creativos y performantes</strong
      >.
    </p>
    <p>
      Colaboro como freelance con estudios, agencias y empresas haciendo webs y
      aplicaciones; sin dejar <del>demasiado</del> de lado proyectos mis personales.
    </p>
  </div>
</article>
