---
import { getI18N } from '@/i18n'

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })
---

<h2 class='text-3xl font-bold text-primary'>{i18n.ABOUTSECTION.H2}</h2>

<article class='flex flex-col items-center justify-center gap-8 md:flex-row'>
  <div
    class='order-2 text-pretty md:order-1 [&>p>strong]:font-bold dark:[&>p>strong]:font-bold [&>p]:mb-4'
    set:html={i18n.ABOUTSECTION.CONTENT}
  />
</article>
