---
// import AnimatedCircles from '@/components/AnimatedCircles.astro'
import BaseHead from '@/components/BaseHead.astro'
import Header from '@/components/Header.astro'
import Footer from '@/components/Footer.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts'
import SeasonalBackground from '@/components/SeasonalBackground.astro'

import SectionContainer from '@/components/SectionContainer.astro'
import ContactForm from '@/components/ContactForm.astro'
import ProjectsSection from '@/components/sections/ProjectsSection.astro'
import About from '@/components/sections/About.astro'
import Badge from '@/components/Badge.astro'
---

<html lang='es'>
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style></style>
		<!-- <script is:inline>
			const getThemePreference = () => {
				if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
					return localStorage.getItem('theme')
				}
				return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'
			}
			const isDark = getThemePreference() === 'dark'
			document.documentElement.classList[isDark ? 'add' : 'remove']('dark')

			if (typeof localStorage !== 'undefined') {
				const observer = new MutationObserver(() => {
					const isDark = document.documentElement.classList.contains('dark')
					localStorage.setItem('theme', isDark ? 'dark' : 'light')
				})
				observer.observe(document.documentElement, { attributes: true, attributeFilter: ['class'] })
			}
		</script> -->
	</head>
	<body>
		<Header />
		<main class='relative flex flex-col w-full text-slate-950 dark:text-slate-300'>
			<SeasonalBackground />
			<!-- <AnimatedCircles /> -->

			<section class='relative h-dvh flex flex-col justify-between px-12 py-24'>
				<article class='relative flex flex-col justify-start items-start'>
					<h1 class='fadeIn text-xl max-w-[28ch] text-balance'>
						<a href='/' class=''>
							<span class='text-5xl block mb-2 font-bold tracking-tighter'>Diego de Sousa</span></a
						>es un <strong>desarrollador <em>frontend</em></strong> que trabaja con proyectos creativos
						desde el cariño y la inmersión.
					</h1>
					<Badge>Disponible para colaborar</Badge>
				</article>

				<div class='contact-btn fixed bottom-8 left-8 flex flex-row'>
					<ContactForm />
				</div>
			</section>
			<SectionContainer id='projects' class='min-h-dvh'>
				<ProjectsSection />
			</SectionContainer>
			<SectionContainer id='about'>
				<About />
			</SectionContainer>
		</main>
		<Footer />
	</body>
</html>
