---
import { Image } from 'astro:assets'
import selloPontevedra from '../assets/sello-pontevedra.webp'
---

<h2 class='mx-6 text-3xl font-bold md:mx-0'>Contacto</h2>
<div
  class='relative flex flex-col bg-white px-6 pb-10 pt-36 text-sm text-foreground shadow-lg dark:text-background md:px-8 md:pt-24 md:text-base'
>
  <div
    class='absolute inset-0 h-full w-full bg-[url("images/bgs/paper-texture.webp")] bg-repeat opacity-30'
  >
  </div>
  <Image
    src={selloPontevedra}
    alt='Sello de Pontevedra'
    class='pointer-events-none absolute right-6 top-6 w-16 md:w-20'
  />
  <form
    id='form'
    name='wf-form-Nuevo-proyecto'
    data-name='Nuevo-proyecto'
    action='https://api.web3forms.com/submit'
    method='POST'
    class='relative flex flex-col justify-between gap-4'
  >
    <input
      type='hidden'
      name='access_key'
      value='45ee6310-e703-43b2-9fd5-530e8134cab1'
    />
    <input
      type='hidden'
      name='subject'
      value='Formulario desde diegodesousa.com'
    />

    <div class='flex flex-row items-center gap-2'>
      <label for='Nombre'>Hola Diego, me llamo</label>
      <input
        type='text'
        id='Nombre'
        name='Nombre'
        data-name='Nombre'
        placeholder='Juan Nadie'
        maxlength='256'
        required
        class='field-sizing inline-block h-10 border-b bg-transparent px-2 py-2 text-sm font-semibold md:text-base'
      />
    </div>
    <div class='flex flex-row items-center gap-2'>
      <label for='EMAIL'>Mi email es</label>
      <input
        type='email'
        id='EMAIL'
        name='EMAIL'
        data-name='EMAIL'
        placeholder='juan.nadie@gmail.com'
        maxlength='256'
        required
        class='field-sizing inline-block h-10 border-b bg-transparent px-2 py-2 text-sm font-semibold md:text-base'
      />
    </div>
    <div class='flex flex-row items-start gap-2'>
      <label for='DETALLES'>Estoy buscando ayuda con</label>
      <textarea
        placeholder='diseño web, desarrollo de mi diseño, tienda online, etc.'
        maxlength='5000'
        id='DETALLES'
        name='DETALLES'
        data-name='DETALLES'
        class='field-sizing h-30 border-lightpurple text-purple inline-block max-w-prose border-b bg-transparent px-2 text-sm font-semibold md:text-base'
      ></textarea>
    </div>
    <div class='flex flex-row items-center gap-2'>
      <label for='PRESUPUESTO'>Mi presupuesto está entre</label>
      <div class='l-pricing-wrapper'>
        <input
          type='text'
          id='PRESUPUESTO'
          name='PRESUPUESTO'
          data-name='PRESUPUESTO'
          placeholder='1500-3000€'
          maxlength='256'
          class='field-sizing border-lightpurple text-purple inline-block h-10 border-b bg-transparent px-2 py-2 text-sm font-semibold md:text-base'
        />
      </div>
    </div>
    <div class='flex flex-row items-center gap-2'>
      <label for='DEADLINE'>Necesito tenerlo listo en</label>
      <input
        type='text'
        id='DEADLINE'
        name='DEADLINE'
        data-name='DEADLINE'
        placeholder='seis semanas'
        maxlength='256'
        class='field-sizing border-lightpurple text-purple inline-block h-10 border-b bg-transparent px-2 py-2 text-sm font-semibold md:text-base'
      />
    </div>
    <button
      type='submit'
      class='cursor-pointer self-start underline underline-offset-4 transition-all duration-300 ease-in-out hover:scale-105 hover:text-accent'
    >
      Enviar
    </button>
    <div id='result' class='hidden'></div>
  </form>
  <script src='https://web3forms.com/client/script.js' async defer></script>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const form = document.getElementById('form') as HTMLFormElement | null
    const result = document.getElementById('result') as HTMLElement | null

    if (form && result) {
      form.addEventListener('submit', async function (e: Event) {
        e.preventDefault()

        const targetForm = e.target as HTMLFormElement
        const formData = new FormData(targetForm)
        const json = JSON.stringify(Object.fromEntries(formData))

        form.style.display = 'none'
        result.classList.remove('hidden')
        result.innerHTML = 'Por favor, espera...'
        result.classList.add('text-blue-500', 'font-semibold')

        try {
          const response = await fetch('https://api.web3forms.com/submit', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
              Accept: 'application/json'
            },
            body: json
          })

          const jsonResponse = await response.json()
          result.innerHTML = jsonResponse.message
          result.classList.remove('text-blue-500')
          result.classList.add('text-green-500')
        } catch (error) {
          console.error(error)
          result.innerHTML = 'Algo salió mal!'
          result.classList.remove('text-blue-500')
          result.classList.add('text-red-500')
        } finally {
          targetForm.reset()
          setTimeout(() => {
            if (result) {
              result.style.display = 'none'
            }
            form.style.display = 'block'
          }, 3000)
        }
      })
    }
  })
</script>
