---

---

<h2 class='text-3xl font-bold'>Contacto</h2>
<div
  class='bg-red-2000 flex flex-col bg-white px-8 py-12 pb-10 text-base text-foreground shadow-lg dark:text-background'
>
  <form
    id='wf-form-Nuevo-proyecto'
    name='wf-form-Nuevo-proyecto'
    data-name='Nuevo-proyecto'
    action='https://api.web3forms.com/submit'
    method='POST'
    class='flex flex-col justify-between gap-4'
  >
    <input
      type='hidden'
      name='access_key'
      value='45ee6310-e703-43b2-9fd5-530e8134cab1'
    />
    <div class='flex flex-row items-center gap-2'>
      <label for='Nombre-2' class='form05_title'>Hola Diego, me llamo</label>
      <input
        type='text'
        id='Nombre-2'
        name='Nombre-2'
        data-name='Nombre 2'
        placeholder='Juan Nadie'
        maxlength='256'
        required=''
        class='field-sizing inline-block h-10 border-b bg-transparent px-2 py-2 text-base font-semibold'
      />
    </div>
    <div class='flex flex-row items-center gap-2'>
      <label for='EMAIL-3' class='form05_title'>Mi email es</label>
      <input
        type='email'
        id='EMAIL-3'
        name='EMAIL-3'
        data-name='EMAIL 3'
        placeholder='juan.nadie@gmail.com'
        maxlength='256'
        required=''
        class='field-sizing inline-block h-10 border-b bg-transparent px-2 py-2 text-base font-semibold'
      />
    </div>
    <div class='flex flex-row items-start gap-2'>
      <label for='DETALLES-3' class='form05_title'
        >Estoy buscando ayuda con</label
      ><textarea
        placeholder='diseño web, desarrollo de mi diseño, tienda online, etc.'
        maxlength='5000'
        id='DETALLES-3'
        name='DETALLES-3'
        data-name='DETALLES 3'
        class='field-sizing h-30 border-lightpurple text-purple inline-block max-w-prose border-b bg-transparent px-2 text-base font-semibold'
      ></textarea>
    </div>
    <div class='flex flex-row items-center gap-2'>
      <label for='PRESUPUESTO-2' class='form05_title'
        >Mi presupuesto está entre</label
      >
      <div class='l-pricing-wrapper'>
        <input
          type='text'
          id='PRESUPUESTO-2'
          name='PRESUPUESTO-2'
          data-name='PRESUPUESTO 2'
          placeholder='1500-3000€'
          maxlength='256'
          class='field-sizing border-lightpurple text-purple inline-block h-10 border-b bg-transparent px-2 py-2 text-base font-semibold'
        />
      </div>
    </div>
    <div class='flex flex-row items-center gap-2'>
      <label for='DEADLINE-2' class='form05_title'
        >Necesito tenerlo listo en</label
      >
      <input
        type='text'
        id='DEADLINE-2'
        name='DEADLINE-2'
        data-name='DEADLINE 2'
        placeholder='seis semanas'
        maxlength='256'
        class='field-sizing border-lightpurple text-purple inline-block h-10 border-b bg-transparent px-2 py-2 text-base font-semibold'
      />
    </div>
    <input
      type='submit'
      value='Enviar'
      data-wait='Please wait...'
      class='cursor-pointer self-start underline underline-offset-4 transition-all duration-300 ease-in-out hover:scale-105 hover:text-accent'
    />
  </form>
  <script src='https://web3forms.com/client/script.js' async defer></script>

  <div class='form05_success hidden'>
    <div class='form_alert'>
      <div class='form_alert_wrap'>
        <img
          src='https://uploads-ssl.webflow.com/5cbc1cadfad96c3229989372/5ce9f7abc0831c3acc68fd41_check-white.svg'
          width='20'
          alt=''
          class='form_alert_icon'
        />
        <div class='form_alert_line'></div>
        <div class='form_alert_text white-text'>
          Gracias, me pondré en contacto contigo pronto!
        </div>
      </div><img
        src='https://uploads-ssl.webflow.com/5cbc1cadfad96c3229989372/5ce9f70438469cb34ea8608b_x_white.svg'
        width='20'
        alt=''
      />
    </div>
  </div>
  <div class='form05_error hidden'>
    <div class='form_error'>
      <div class='form_error_wrap'>
        <img
          src='https://uploads-ssl.webflow.com/5cbc1cadfad96c3229989372/5ce9f7ab8cdd0a12142b971f_alert-circle-white.svg'
          width='20'
          alt=''
          class='form_error_icon'
        />
        <div class='form_error_line'></div>
        <div class='form_error_paragraph white-text'>
          Parece que hay algún error.
        </div>
      </div><img
        src='https://uploads-ssl.webflow.com/5cbc1cadfad96c3229989372/5ce9f70438469cb34ea8608b_x_white.svg'
        width='20'
        alt=''
      />
    </div>
  </div>
</div>
