---
import { getI18N } from '@/i18n'

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })
---

<footer class='relative bg-background px-4 py-8 text-center text-xs'>
  <p>
    {i18n.FOOTER.COPY.SEASONSCHANGE}
  </p>
  {
    //   <p>
    //     Puedes ver el código en mi github
    //   </p>
  }
</footer>
