---
// import HeaderLink from './HeaderLink.astro'
// import { SITE_TITLE } from '../consts'
import ModeToggle from '@/components/ModeToggle.astro'

---

<header class="fixed inset-x-0 z-20 bg-transparent">
	<nav class="py-8 px-8 flex flex-row justify-end items-center">
		<!-- <h2><a href="/">{SITE_TITLE}</a></h2> -->
		<!-- <div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div> -->
		<ModeToggle />

	</nav>
</header>
